.custom-input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
    margin-left: 12px;
}

.custom-input-group .form-control,
.custom-input-group .form-select {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #CED4DA;
    font-size: 15px;
    font-weight: 500;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #ffffff;
    outline: none;
}

.custom-input-group .form-control::placeholder,
.custom-input-group .form-select::placeholder {
    color: #BDBDBD;
    opacity: 1;
}

.custom-input-group .form-control:focus,
.custom-input-group .form-select:focus {
    background-color: #ffffff;
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.form-check-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.form-check-hidden {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.custom-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.form-check-label {
    font-size: 16px;
    color: #999999;
    cursor: pointer;
    user-select: none;
}

.error-feedback {
    color: #dc3545;
    font-size: 11px;
    margin-left: 12px;
}

.form-control.is-invalid,
.form-select.is-invalid {
    border-color: #dc3545;
}

.password-toggle-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #444;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.password-toggle-btn:hover {
    color: #222;
}

.is-invalid+.password-toggle-btn {
    right: 35px;
}